.label-type {
  margin-right: 5px;
}

.array-item-border {
  border-bottom: 2px dotted #a0a0a0;
  padding-top: 5px;
  margin-top: 2px;
  margin-bottom: 2px;
}

/* 横並び type=object */
.subschemastyle-column > fieldset {
  display: flex;
  flex-wrap: wrap;
}

/* flexを無効化する */
.subschemastyle-column > fieldset > .field-array,
.field-object {
  width: 100%;
}

/* arrayの中のobjectは階層が違うので別途定義 */
.array-subschemastyle-column .field-object > fieldset {
  display: flex;
  flex-wrap: wrap;
}

.with-units-div {
  display: flex;
  align-items: center;
}

/* descriptionのラベル */
.description-tooptip {
  text-align: left;
  white-space: pre-wrap;
}

/* 階層ドロップダウンのグループ */
.layer-dropdown-group-title {
  font-weight: bold;
}

/** subschemastyle:inline start*/
/* type=object */
.subschemastyle-inline > fieldset {
  display: flex;
  flex-wrap: wrap;
}
.subschemastyle-inline > fieldset > .form-group {
  margin-right: 10px;
  margin-bottom: 5px;
}

/* arrayの中のobjectは階層が違うので別途定義 */
.array-subschemastyle-inline .field-object > fieldset {
  display: flex;
  flex-wrap: wrap;
}
.array-subschemastyle-inline .field-object > fieldset > .form-group {
  margin-right: 10px;
  margin-bottom: 5px;
}

/* flexを無効化する */
.subschemastyle-inline > fieldset > .field-array,
.field-object {
  width: 100%;
}
/** subschemastyle:inline end*/

/* 階層表示用コンボボックス向けCSS start */

/* mui固有のラベル非表示 */
.css-hdw1oc {
  display: none;
}

.layer-combobox-group-title {
  padding-left: 12px;
  padding-top: 5px;
  font-family: 'BIZ-UDPGothic';
  font-weight: bold;
}

li.layer-combobox-item {
  padding: 0px 0px 2px 12px !important;
  height: 20px;
}

li.layer-combobox-item div {
  font-family: 'BIZ-UDPGothic' !important;
}
/* 階層表示用コンボボックス向けCSS end */
